body{
    background-color: #DFF6FF;
    font-family: 'Ubuntu', sans-serif;
}

.mainPembelian {
    background-color: #FFFFFF;
    width: 400px;
    height: 600px;
    margin: 3em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.ket{
    padding-left: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: #1363DF;
    
}

.pembelian {
    padding-top: 40px;
    color: #1363DF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.tglPembelian, .jumlahPembelian, .nomorMeter, .namaPelanggan, .idTarif {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.formPembelian {
    padding-top: 40px;
}

.tglPembelian:focus, .jumlahPembelian:focus, .nomorMeter:focus, .namaPelanggan:focus, .idTarif:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

button {
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #1363DF, #47B5FF);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}   

.kembali {
    text-shadow: 0px 0px 10px rgba(117, 117, 117, 0.12);
    color: #8bd7f3;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #8bd7f3;
    text-decoration: none
}

@media (max-width: 600px) {
    .mainLogin {
        border-radius: 0px;
    }
}